<div class="row">
  <div class="col s7">
    <h4>Adding <%= @criminal.proper_name%> as a suspect</h4>
    <%= simple_form_for(@suspect) do |f| %>
      <%= f.error_notification %>
      <div class="row">
        <div class="form-inputs">
          <%= f.input :investigation_id, collection: (Investigation.is_open.alphabetical.to_a - @criminal_investigations), include_blank: true %>
          <%= f.input :criminal_id, as: :hidden, input_html: { value: @criminal.id } %>
          <%= f.input :from, as: :hidden, input_html: { value: "criminal" } %>
        </div>
      </div>
      <div class="row">
        <div class="form-actions col s8">
          <%= f.button :submit %>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="col s5">
    <div class="card">
    <div class="card-content">
     <span class="card-title">Current Suspect</span>
        <table class="lined">
          <thead>
            <th>Case</th>
            <th>Starting</th>
          </thead>
            <% for suspect in @criminal.suspects.current %>
              <tr>
                <td>
                  <% if can? :remove, Suspect %>
                    <%= link_to(remove_suspect_path(suspect, from: "criminal"), class: 'remove', method: :patch) do %>
                      x&nbsp;&nbsp;
                    <% end %>
                  <% end %>
                  &nbsp;<%= link_to suspect.investigation.title, investigation_path(suspect.investigation) %>
                </td>
                <td><%= suspect.added_on.strftime("%m/%d/%y") %></td>
              </tr>
            <% end %>
        </table>
      </div>
    </div>
    
  </div>
</div>