<h4><%= state.capitalize %> Officers in GCPD</h4>

<% if officers.empty? %>
  <p>There are no <%= state.downcase %> officers at this time.</p>
<% else %>

  <div id="whitebox">
    <table id="customTable">
      <thead>
        <th>Name</th>
        <th>Unit</th>
        <th>Rank</th>
        
        <% if can? :edit, officers %>
          <th>Active?</th>
          <th>Edit</th>
        <% end %>
      </thead>
      <% for officer in officers %>
        <tr>
          <% if can? :read, officer %>
            <td><%= link_to officer.proper_name, officer_path(officer) %></td>
            <td><%= officer.rank %></td>
          <% end %>
          <% if can? :read, Unit %>
            <td><%= link_to officer.unit.name, unit_path(officer.unit) %></td>
          <% else %>
            <td><%= officer.unit.name %></td>
          <% end %>
          
          <% if can? :edit, officers%>
              <td><div class='btn'><%= best_in_place officer, :active, as: :checkbox, collection: {false:"No", true:"Yes"}%></div>&nbsp;&nbsp;
              </td><td>
                <%= link_to edit_officer_path(officer) do %>
                    <i class="material-icons">edit</i>
                <% end %>
              </td>
          <% end %>
          
        </tr>
      <% end %>
    </table>
  </div>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate officers, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>