<div id="form-template">
  <h5>New Investigation Note</h5>

  <% @investigation_note = InvestigationNote.new %>
  <!-- now the form template itself -->
  <div class="row">
    <div class="col">
      <%= simple_form_for(@investigation_note) do |f| %>
        <%= f.error_notification %>
        <div class="row">
          
          <div class="form-inputs">
            <%= f.input :investigation_id, as: :hidden, input_html: { value: @investigation.id } %>
            <%= f.input :officer_id, as: :hidden, input_html: { value: @current_user.officer } %>
            <%= f.input :content, label_html: { class: 'active' } %>
            <%= f.input :date, input_html: { value: Date.current } %>
          </div>
        
        </div>
        <div class="row">
          <div class="form-actions col">
            <%= f.button :submit %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>