<div id="investigation_note_handling">
  <%= hidden_field_tag "investigation_id", @investigation.id %>
  <% unless @investigation.investigation_notes.empty? %>
    <div class="card yellow lighten-4">
      <div class="card-content">
        <span class="card-title">Investigation Notes</span>
        <ul is='investigation-note-row' 
            v-for="note in investigation_notes" 
            v-bind:investigation_note="note"
            class="no_bullet">  
        </ul>
      </div>
      <% if can? :new, InvestigationNote %>
        <div class="card-action">
          <!-- Could bind title based on state, but chance to show v-else directive -->
          <div v-if="modal_open">
            <%= link_to "Cancel note", "#", {%s(v-on:click) => "switch_modal()"} %>
          </div>
          <div v-else>
            <%= link_to "Add a new note", "#", {%s(v-on:click) => "switch_modal()"} %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <% if can? :new, InvestigationNote %>
    
      <div class="card grey lighten-3">
        <div class="card-action">
          <!-- Note in class that message not consistent with activity -->
          <%= link_to "Add a new note", "#", {%s(v-on:click) => "switch_modal()"} %>
        </div>
      </div>
    <% end %>
  <% end %>  

  <div v-if="modal_open">
    <new-investigation-note-form></new-investigation-note-form>
  </div>

</div> <!-- End of div#dosage_handling -->


<!-- Defining Vue templates to work with components -->
<script type="text/x-template" id="investigation-note-row">
  // Commenting this out b/c template in js file, but if I wanted it here...
  // <li>
  //   <a v-on:click="remove_record(dosage)" class="remove">x&nbsp;&nbsp;</a>
  //   {{ dosage.medicine_name }}:&nbsp;&nbsp;
  //   {{ dosage.units_given }}&nbsp;units
  // </li>
</script>

<!--  much easier to include this complicated template here 
      rather than in the js file (IMO) -->
<script type="text/x-template" id="investigation-note-form">
  <%= render "investigation_note_form", locals: {investigation: @investigation, officer: @current_user.officer, note: InvestigationNote.new} %>
</script>





