<% unless @investigation.investigation_notes.empty? %>
  <h2>Hello</h2>
  <div class="card yellow lighten-4">
    <div class="card-content">
      <span class="card-title">Investigation Notes</span>
      <ul>
        <% for note in @investigation.investigation_notes %>
          <li>
            <%= note.date %>
            <%= link_to note.officer.name, officer_path(note.officer) %>
            <%= note.content %>
          </li>
        <% end %>
      </ul>
    </div>
    <% if can? :new, InvestigationNote %>
      <div class="card-action">
        <%= link_to "Add a new note", new_investigation_note_path(investigation_id: @investigation.id, officer_id: @current_user.officer) %>
      </div>
    <% end %>
  </div>
<% else %>
  <% if can? :new, InvestigationNote %>
    <div class="card grey lighten-3">
      <div class="card-action">
        <%= link_to "Add a new note", new_investigation_note_path(investigation_id: @investigation.id, officer_id: @current_user.officer) %>
      </div>
    </div>
  <% end %>
<% end %>