<h4><%= state.capitalize %> Investigations in GCPD</h4>

<% if investigations.empty? %>
  <p>There are no <%= state.downcase %> investigations at this time.</p>
<% else %>
  <div id="whitebox">
    <table id="customTable">
      <thead>
        <th>Title</th>
        <th>Date <%= state %></th>
        <% if can? :edit, Investigation %>
          <th class="align_center">Edit</th>
        <% end %>
      </thead>
      <% for investigation in investigations %>
        <tr>
          <% if can? :show, investigation %>
             <td><%= link_to investigation.title, investigation_path(investigation) %></td>
             <td><%= display_date(investigation, state) %></td>
          <% else %> 
            <td><%= investigation.title%></td>
            <td><%= display_date(investigation, start) %></td>
          <% end %>
          
          <% if can? :edit, investigation %>
            <td class="align_center">
              <%= link_to edit_investigation_path(investigation) do %>
                <i class="material-icons">edit</i>
              <% end %>
            </td>
          <% end %>
          
        </tr>
      <% end %>
    </table>
  </div>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate investigations, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>