<!--<ul id="dropdown1" class="dropdown-content">-->
<!--  <li><a href="#!">one</a></li>-->
<!--  <li><a href="#!">two</a></li>-->
<!--  <li class="divider"></li>-->
<!--  <li><a href="#!">three</a></li>-->
<!--</ul>-->

  <div class='navbar-fixed'>
    <nav>
      <div class="nav-wrapper white">
        <img class="circle" src="assets/images/male_avatar.jpg">
        <a href="#!" class="brand-logo black-text"><img src="images/GCPD_Logo.png">GCPD Dashboard</a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to 'Home', home_path, {:style=>'color:#00001b;', :class => "css_class"} %></li>
          <li><%= link_to 'About GCPD', about_path, {:style=>'color:#000000;', :class => "css_class"}%></li>
          <li><%= link_to 'Contact Us', contact_path,  {:style=>'color:#00001b;', :class => "css_class"}%></li>
          <li><%= link_to 'Privacy Policy', privacy_path,  {:style=>'color:#00001b;', :class => "css_class"}%></li>
          <li><%= link_to 'Logout', logout_path,  {:style=>'color:#8b0000;', :class => "css_class"}%></li>
          <!-- Dropdown Trigger -->
          <!--<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>-->
        </ul>
      </div>
    </nav>
  </div>

<!--<nav id="nav">-->
<!--  <div class="container">-->
<!--    <ul class="left hide-on-med-and-down">-->
<!--      <li><%= link_to 'Investigations', investigations_path %></li>-->
<!--      <li><%= link_to 'Officers', officers_path %></li>-->
<!--      <li><%= link_to 'Units', units_path %></li>-->
<!--      <li><%= link_to 'Crimes', crimes_path %></li>-->
<!--      <li><%= link_to 'Criminals', criminals_path %></li>-->
<!--    </ul>-->
    
<!--  </div>-->
<!--</nav>-->


      
      <%# if can? :read, Medicine %>
        <!-- <li><%# link_to 'Medicines', medicines_path %></li>
      <%# end %>
      <%# if can? :read, Procedure %>
        <li><%# link_to 'Procedures', procedures_path %></li>
      <%# end %>
      <%# if can? :read, User %>
        <li><%# link_to 'Users', users_path %></li>  -->
      <%# end %>