
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view">
      <!--<div class="background">-->
      <!--  <img src="images/office.jpg">-->
      <!--</div>-->
      <a href="#user"><img class="circle" src="~/app/assets/images/male_avatar.png"></a>
      <!--<a href="#user"><%= image_tag "male_avatar.png"%></a>-->
      <!--<%link_to(image_tag('male_avatar.png'),home_path)%> -->
  
      <a href="#name"><span class="center yellow-text text-accent-2 name", id="customYellow-text">Welcome,</span></a>
      <a href="#email"><span class=" center yellow-text text-accent-2 email"><%= current_user.officer.rank%> <%= current_user.officer.proper_name %></span></a>
    </div></li>
      <li><div class="divider"></div></li>
      <li><%= link_to 'INVESTIGATIONS LIST', investigations_path, {:style=>'color:#FFFFFF;', :class => "css_class"}%></li>
      <li><div class="divider"></div></li>
      <li><%= link_to 'OFFICERS LIST', officers_path, {:style=>'color:#FFFFFF;', :class => "css_class"}%></li>
      <li><div class="divider"></div></li>
      <li><%= link_to 'UNITS LIST', units_path, {:style=>'color:#FFFFFF;', :class => "css_class"}%></li>
      <li><div class="divider"></div></li>
      <li><%= link_to 'CRIMES LIST', crimes_path, {:style=>'color:#FFFFFF;', :class => "css_class"}%></li>
      <li><div class="divider"></div></li>
      <li><%= link_to 'CRIMINALS LIST', criminals_path, {:style=>'color:#FFFFFF;', :class => "css_class"}%></li>
      <li><div class="divider"></div></li>
      <li><%= link_to 'USERS LIST', users_path, {:style=>'color:#FFFFFF;', :class => "css_class"}%></li>
      <li><div class="divider"></div></li>
      
  </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
