<h4><%= @current_user.officer.proper_name %></h4><br/>
<div class="row">
  <div class="col s6">
     <!--primary partial gets displayed here in main div -->
    <%= render partial: "officer_stats" %>
     <!--sometimes we want another partial below -->
    <%# render :partial => "partials/display_base_errors", locals: {object: object} %>
  </div>

  <!--<div class="col s4">-->
  <!--   render the sidebar, if it exists -->
    <%# render partial: "#{sidebar}" unless sidebar.blank? %>
  <!--</div>-->

  <div class="col s6">
    <%= render partial: "my_assignments" %>
  </div>
  </div>
  
<div class="row">
  <div class="col s6">
    <%= render partial: "active_units" %>
  </div>
  <br />
  
  <div class="col s6">
    <%= render partial: "active_officers" %>
  </div>
</div>

<div class="row">
    <div class="col s12">
    <%= render partial: "crime_list" %>
  </div>
</div>

</div>
  <div class="col s12">
    <%= render partial: "my_investigation_notes" %>
  </div>
</div>