<h4><%= state.capitalize %> Crimes in GCPD</h4>

<% if crimes.empty? %>
  <p>There are no <%= state.downcase %> crimes at this time.</p>
<% else %>

  <div id="whitebox">
    <table id="customTable">
      <thead>
        <th>Crime</th>
        <th>Level</th>
  
        <% if can? :edit, Crime %>
          <th class="align_center">Status</th>
          <th class="align_center">Edit</th>
        <% end %> 
      </thead>
    <% for crime in crimes %>
      <tr>
        <td><%= crime.name %></td>
        <td><%= crime.felony ? "Felony" : "Misdemeanor" %></td>
         <% if can? :edit, crime %>
          <td id="auto_submit_form">
            <%= simple_form_for(crime) do |f| %>
              <div class="row">
                <div class="form-inputs">
                  <%= f.input :active %>
                </div>
              </div>
            <% end %>
          </td>
          <td class="align_center">
          <%= link_to edit_crime_path(crime) do %>
            <i class="material-icons">edit</i>
          <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate crimes, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>