<h4><%= state.capitalize %> Criminals in GCPD</h4>

<% if criminals.empty? %>
  <p>There are no <%= state.downcase %> criminals at this time.</p>
<% else %>
  <table id="customTable">
    <thead>
      <th>Name</th> 
      <th>Aka</th>
      <th>Convicted Felon?</th>    
      <th class="align_center">Edit</th>
    </thead>
    <% for criminal in criminals %>
      <tr>
        <td><%= link_to criminal.name, criminal_path(criminal) %></td>
        <td><%= criminal.aka %></td>
        <td><%= criminal.convicted_felon %></td>

        <td class="align_center">
          <%= link_to edit_criminal_path(criminal) do %>
              <i class="material-icons">edit</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate criminals, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>