<% unless @current_suspect_in.empty? %>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Current Suspects</span>
      <table class="lined">
        <thead>
          <th>Case</th>
          <th>Starting</th>
        </thead>
          <% for suspect in @current_suspect_in %>
            <tr>
              <td>
                <% if can? :remove, Suspect %>
                  <%= link_to(remove_suspect_path(suspect, from: "criminal"), class: 'remove', method: :patch) do %>
                    x&nbsp;&nbsp;
                  <% end %>
                <% end %>
                &nbsp;<%= link_to suspect.investigation.title, investigation_path(suspect.investigation) %>
              </td>
              <td><%= suspect.added_on.strftime("%m/%d/%y") %></td>
            </tr>
          <% end %>
      </table>
      
      <% if can? :new, Suspect %>
        <div class="card-action">
          <%= link_to "Add a new suspect", new_suspect_path(criminal_id: @criminal.id) %>
        </div>
      <% end %>
    
    </div>
  </div>
<% else%>
  
  <% if can? :new, Suspect %>
    <div class="card grey lighten-3">
      <div class="card-action">
        <%= link_to "Add a new suspect", new_suspect_path(criminal_id: @criminal.id) %>
      </div>
    </div>
  <% end %>
  
<% end%>